/* GLOBAL */
/* HW for 8/25+ convert logo to SVG; replace on index.html */
body
{
  font-family: 'Lato', 'Arial', sans-serif;
  font-size:1em;
  letter-spacing: 0.1em;
  color: #333;
  /* css images will have to be copied into temp
  to be visible during development */
}

img
{
  max-width: 100%;
  height: auto;
}

h2
{
  text-transform: uppercase;
}


/* ------------------ */
/* header section */
.header
{
  color:#eee;
  background-clip: contain;
}

.container.header
{
  padding:0px;
  min-height:100px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom:12px;
  position:relative;
}

.container.header .row,
.container.header .row .col
{
  margin:0;
  padding:0;
}

.container.header .mobileHeader
{
  margin-bottom:10px;
}

.container.header .mobilemenu-icon
{
  background-image: url("../icons/webIcons-WHITE/menuMobile.svg");
  height:45px;
  width:45px;
  background-size: 45px 45px;
}

.container.header ul.social
{
  float:right;
  padding:0;
  margin:10px 0;
  line-height: 48px;
}

.container.header ul.social li
{
  list-style:none;
  float:left;
}

/* ---------------------- */
.facebook-socialIcon:hover,
.twitter-socialIcon:hover,
 .twitterFollow-socialIcon:hover
{
  opacity:0.75;
}

.container.header ul li.textlink a
{
  text-decoration: none;
  color:#eee;
}

.container.header ul li.textlink a:hover
{
    text-decoration: underline;
}

.header .logo
 {
  width:100%;
  height:auto;
  background-size: 615px 385px;
  margin:0;
 }

/* ------------ */
/*      nav      */

nav
{
  background-color:transparent;
  box-shadow:none;
  padding:0;
  position:relative;
}

nav ul { }

 .container.header .row .col
 {
  position:relative;
 }

 .nav-wrapper.desktop-nav
 {
  width:100%;
 }

nav ul li
{
  font-size:1.25em;
  font-weight:700;
  text-transform:uppercase;
  float:left;
  text-align: center;
  margin:0;
  padding:0;
}

nav ul li a
{
  padding:0;
  text-decoration: none;
  opacity:1.0;
}

nav ul a:hover {
    background-color: rgba(0,0,0,0);
    color:#ccc;
    opacity:0.75;
}


.hero_image
{
  padding:0;
  margin:0;
  width:100%;
  color:#fff;
  margin-bottom:12px;
  position:relative;
}

#map
{
  width:100%;
  height:600px;
  margin:0;
  padding:0;
  float:left;
  z-index:1;
}

.hero_image .search_bar .container
{

}

.hero_image .search_bar
{
  height:55px;
  line-height:55px;
  z-index:10;
  float:left;
  text-align: center;
  position:absolute;
  top:10px;
  left:0;
  right:0;
  margin: auto;
}

.hero_image .search_bar input
{
  display:inline-block;
  color:#000;
  float:left;
  box-shadow: 2px 2px 2px #000;
  border-radius:16px;
  background-color: rgba(255, 255, 255, 0.75);
  padding:0 10px;
}
.hero_image .search_bar input::placeholder
{
  color: #000;
}

.hero_image .search_bar input[type=text]:focus + label {
     color: #000;
}
/* label underline focus color */
.hero_image .search_bar input[type=text]:focus {
   border-bottom: none;
   box-shadow: 0 1px 0 0 #000;

 }

.searchicon-web-black
{
  background-image: url("../icons/webIcons/searchIcon.svg");
  width:100%;
  height:auto;
  float:left;
  padding:10px;
  opacity:1.0;
  margin-top:6px;
  display:inline-block;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
  background-color: rgba(255, 255, 255, 0.75);
}

/*.hero_image .search_bar a:hover
{
  opacity:0.75;
}*/

a .searchicon-web-black:hover
{
  background-color: rgba(164, 58, 35, 0.75);
}

.container.content
{
  padding:24px;
  background-color:#eee;
  min-height:400px;
  margin-bottom:12px;
}

.container.content h2
{
  font-weight:700;
  color: #a43a23;
}

.container.content h3
{
  font-weight:700;
  color: #666;
}

.container.content p
{
  font-size:100%;
  font-weight:400;
  color: #222;
}

.container.content .row .col.s4 h2
{
  font-size:250%;
}

.container.content .row .col.s4 h3
{
  font-size:225%;
}

.page-footer
{
  min-height:125px;
  background-color:#000;
  color:#eee;
  padding:10px;
}

.page-footer .row
{
  margin-top:12px;
  padding:0;
}

.page-footer .row .col
{
  margin-bottom:24px;
}


.page-footer .footer-nav
{
    line-height:1.25em;
    margin-left:12px;
    text-align:left;
    padding:0;
}

.page-footer .footer-nav ul li
{
    margin:4px;
    width:100%;
    text-align:left;
}
.page-footer h4
{
  font-weight:700;
  color:#a43a23;
  margin:0;
  padding: 0;
}

.page-footer .col.s12
{
  height:auto;
}




/* media query*/

/* check for res width from 0px - 600px */
  @media only screen and (min-width: 0px) {
    body
    {
      background-color:#a43a23;
    }

         /* header - social media icons */
      .container.header ul.social
      {
        line-height: 20px;
      }
      .container.header ul.social li
      {
        list-style:none;
        float:left;
        margin-right:6px;
      }
    .facebook-socialIcon
    {
      background-image: url("../icons/social/facebook-32.png");
    }

    .twitter-socialIcon
    {
      background-image: url("../icons/social/twitter-32.png");
    }

    .twitterFollow-socialIcon
    {
      background-image: url("../icons/social/twitter-follow-32.png");
    }

    .facebook-socialIcon,
    .twitter-socialIcon,
     .twitterFollow-socialIcon
     {
      height:32px;
      width:32px;
     }

    .container.header { }

   .container.header .mobilemenu-icon
    {
      background-image: url("../icons/webIcons-WHITE/menuMobile.svg");
      height:54px;
      width:54px;
      background-size: 54px 54px;
    }

    .container.header ul li.textlink a
    {
      font-size:0.75em;
      line-height:4em;
    }

     .container.header .mobileHeader
     {
      display: block;
     }
    .container.header .row nav.desktop-nav
      {
        display:none;
      }
      .header .logo
      {
/*       margin-left:10.5%;
          width:80%;*/
          width:60%;
          margin:0 auto;
      }

      .hero_image
      {
        min-height:400px;
      }

      .hero_image .search_bar
      {
        left:12.5%;
        top:45px;
      }

      #map
      {
         height:400px;
      }

      .hero_image .search_bar .container
      {
        width:85%;
      }

      .hero_image .search_bar input
      {
        font-size:1em;
        width:62.2%;
        margin:0 12px;
      }

       .searchicon-web-black
      {
        margin:6px 2px;
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
      }

      .container.content
      {
        border-radius:16px;
      }
       .container.content h2
      {
        font-size:300%;
      }

      .container.content h3
      {
        font-size:200%;
      }

      .page-footer h4
      {
        font-size:200%;
      }
  }


/* check for res width from 600px++ */
  @media only screen and (min-width: 601px) {
    body,
    .header
    {
        background-image: url("../images/crackedbg-rust.jpg");
    }
    .container.header
    {
    }

    /* header - social media icons */
    .facebook-socialIcon
    {
      background-image: url("../icons/social/facebook-48.png");
    }

    .twitter-socialIcon
    {
      background-image: url("../icons/social/twitter-48.png");
    }

    .twitterFollow-socialIcon
    {
      background-image: url("../icons/social/twitter-follow-48.png");
    }

    .facebook-socialIcon,
    .twitter-socialIcon,
     .twitterFollow-socialIcon
     {
      height:48px;
      width:48px;
     }

     .searchicon-web-black
    {
      margin:6px 8px;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
    }

    .container.header .mobileHeader
      {
        display:none;
      }

     .container.header ul.social li
      {
        margin-right:24px;
      }

      .container.header ul li.textlink a
      {
        line-height:2em;
        font-size:1em;
      }

    .header .row .col .logo
    {
/*      width:90%;
      margin:0;
      padding: 0;*/
    }

    .searchicon-web
    {
      background-image:url("../icons/webIcons-WHITE/searchIcon.svg");
    }

    .storesicon-web
    {
      background-image:url("../icons/webIcons-WHITE/shoppingTag.svg");
    }

    .topten-web
    {
      background-image:url("../icons/webIcons-WHITE/starActive.svg");
    }

    .addstore-web
    {
      background-image:url("../icons/webIcons-WHITE/addStore.svg");
    }

    .searchicon-web,
    .storesicon-web,
    .topten-web,
    .addstore-web
    {
      height:64px;
      width:64px;
      background-size: 64px 64px;
      margin:-16px auto;
      padding:0;
    }

    nav
    {
      margin-top:4%;
      margin-left:13.2%;
    }
    nav ul li
    {
      width:auto;
      margin-right:48px;
    }

    .header .logo
     {
      width:92%;
     }

    .container.header .row nav.desktop-nav
    {
      display:block;
    }

    .hero_image .search_bar .container
      {
        width:92%;
      }

    .hero_image .search_bar
    {
      width:68.2%;
      top:10px;
    }

     .hero_image
    {
      min-height:600px;
    }

      #map
      {
         height:600px;
      }

    .hero_image .search_bar input
    {
      font-size:1.25em;
/*      width:76.2%;*/
      width:82.8%;
    }

    .container.content
      {
        border-radius:24px;
      }

    .container.content h2
    {
      font-size:375%;
    }

    .container.content h3
      {
        font-size:300%;
      }

      .page-footer h4
      {
        font-size:225%;
      }

      .page-footer .footer-nav ul li
      {
        font-size:125%;
      }
  }

/* check res if within 601px and 992px */
@media only screen and (min-width: 601px) and (max-width: 992px)
{
    /* header - social media icons */
    .container.header ul.social
    {
      line-height: 32px;
    }
    .facebook-socialIcon
    {
      background-image: url("../icons/social/facebook-32.png");
    }

    .twitter-socialIcon
    {
      background-image: url("../icons/social/twitter-32.png");
    }

    .twitterFollow-socialIcon
    {
      background-image: url("../icons/social/twitter-follow-32.png");
    }

    .facebook-socialIcon,
    .twitter-socialIcon,
     .twitterFollow-socialIcon
     {
      height:32px;
      width:32px;
     }

    header .row .col .logo
    {
/*      width:85%;*/
    }
    .searchicon-web,
    .storesicon-web,
    .topten-web,
    .addstore-web
    {
      height:48px;
      width:48px;
      background-size: 48px 48px;
    }

    .header .logo
     {
      width:90%;
     }

    nav
    {
      margin-top:10%;
    }
    nav ul li
    {
      font-size:1em;
      margin-right:12px;
    }

    .container.content h2
    {
      font-size:325%;
    }

     .container.content h3
      {
        font-size:275%;
      }

      .hero_image .search_bar .container
      {
        width:85%;
      }

     .hero_image .search_bar input
    {
      font-size:1.25em;
      width:68.2%;
    }

     .hero_image
    {
      min-height:600px;
    }

    .searchicon-web-black
    {
        margin-top:8px 4px;
        background-size: 36px 36px;
        width: 36px;
        height: 36px;
    }
}

/*@media only screen and (min-width: 993px) {
    .container.header .row nav.desktop-nav
    {
      padding:0;
    }
  }*/



