/* ************* */
/* media query */
/* ************* */

/* check for res width from 0px - 600px */
@media only screen and (min-width: 0px) {
  body { background-color:#a43a23; }

       /* header - social media icons */
    .container.header ul.social li { margin-right:12px; }

  .facebook-socialIcon { background-image: url("../icons/social/facebook-32.png"); }
  .twitter-socialIcon { background-image: url("../icons/social/twitter-32.png"); }
  .twitterFollow-socialIcon { background-image: url("../icons/social/twitter-follow-32.png"); }

  .facebook-socialIcon,
  .twitter-socialIcon,
   .twitterFollow-socialIcon
   {
    height:30px;
    width:30px;
    background-size:30px 30px;
   }

   .container.header ul li.textlink { display:none; }

  .container.header { }

 .container.header .mobilemenu-icon
  {
    background-image: url("../icons/webIcons-WHITE/menuMobile.svg");
    height:48px;
    width:48px;
    background-size: 48px 48px;
  }

  .container.header ul li.textlink a
  {
    font-size:0.75em;
    line-height:4em;
  }

  .container.header .mobileHeader {display: block; }
  .container.header .row nav.desktop-nav { display:none; }

    .header .logo
    {
        width:68%;
        margin:0 auto;
    }

    .hero_image { min-height:400px; }
    .image-hero
    {
      min-height:275px;
      display:none;
    }

    .image-hero img { height:275px; }

    .hero_image .search_bar
    {
      left:12.5%;
      top:50px;
    }

    #map { height:400px; }

    .hero_image .search_bar .container { width:92%; }

    .hero_image .search_bar input
    {
      font-size:1em;
      width:62.2%;
      margin:0 12px;
    }

     .searchicon-web-black
    {
      margin:6px 2px;
      background-size: 32px 32px;
      width: 32px;
      height: 32px;
    }

    /* top ten */
    .topten-stores_mobile {
      display:block;
    }

    .topten-stores_desktop { display:none; }

    .topten-stores .topten-item
    {
      width:50%;
      height:200px;
    }

    /* cheater margin to extended container when hero_image exceeds a certain length */
    .container.content.topten-mobile { margin-top:615px; }

    .container.content  { border-radius:16px; }
    .container.content h2 { font-size:225%; }
    .container.content h3 { font-size:200%; }
    .container.content h4 { font-size:150%; }
    .container.content p { font-size:0.9em; }

    .container.newuser_form input
    {
    }

    .container.newuser_form #first_name  { width:100%; }

    .container.content ol,
    .container.content ul.store_names
    {
      font-size:1.3em;
    }

    .container.content ol li
    {
      margin:12px 0 12px 7.5%;
    }

    .container.content ol li,
    .container.content ul.store_names li
    {
      padding:10px;
    }

    .starActive
    {
      background-size:60px 60px;
      height:60px;
      width:60px;
    }

    .star-inactive
    {
      background-size:60px 60px;
      height:60px;
      width:60px;
    }

    .store-image
    {
      display:none;
    }

    /* stores page */
    ul.pagination li
    {
      margin:4px;
    }

    ul.pagination li a
    {
      font-size:1.2rem;
    }

    .page-footer h4 { font-size:190%; }
}

/* check for res width from 600px++ */
@media only screen and (min-width: 601px) {
  body,
  .header
  {
      background-image: url("../images/crackedbg-rust.jpg");
  }
  .container.header { }

  /* header - social media icons */
  .container.header ul.social { line-height: 40px; }

  .facebook-socialIcon { background-image: url("../icons/social/facebook-48.png"); }
  .twitter-socialIcon { background-image: url("../icons/social/twitter-48.png"); }
  .twitterFollow-socialIcon { background-image: url("../icons/social/twitter-follow-48.png"); }

  .facebook-socialIcon,
  .twitter-socialIcon,
   .twitterFollow-socialIcon
   {
    height:40px;
    width:40px;
    background-size: 40px 40px;
   }

   .searchicon-web-black
  {
    margin:6px 8px;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
  }

/* social header section */
  .container.header .mobileHeader { display:none; }
  .container.header ul.social li { margin-right:24px; }
  .container.header ul li.textlink { display:block; }
  .container.header ul li.textlink a
    {
      line-height:2em;
      font-size:1em;
    }

  .searchicon-web { background-image:url("../icons/webIcons-WHITE/searchIcon.svg"); }
  .searchicon-web.icon-active { background-image:url("../icons/webIcons/searchIcon.svg"); }

  .storesicon-web { background-image:url("../icons/webIcons-WHITE/shoppingTag.svg"); }
  .storesicon-web.icon-active { background-image:url("../icons/webIcons/shoppingTag.svg"); }

  .topten-web { background-image:url("../icons/webIcons-WHITE/starActive.svg"); }
  .topten-web.icon-active { background-image:url("../icons/webIcons/starActive.svg"); }

  .addstore-web { background-image:url("../icons/webIcons-WHITE/addStore.svg"); }
  .addstore-web.icon-active { background-image:url("../icons/webIcons/addStore.svg"); }

  .searchicon-web,
  .storesicon-web,
  .topten-web,
  .addstore-web
  {
    height:64px;
    width:64px;
    background-size: 64px 64px;
    margin:-16px auto;
    padding:0;
  }

  nav,
  nav.nav-wrapper.desktop-nav
  {
    margin-left:13.2%;
  }

  nav.nav-wrapper.desktop-nav { margin-top:4.8%; }
  nav ul li { margin-right:40px; }
  nav.nav-wrapper.desktop-nav ul a.link-active { color:#000; }

  .header .logo { width:85%; }

  .container.header .row nav.desktop-nav { display:block; }

  .hero_image .search_bar .container { width:92%; }

  .hero_image .search_bar
  {
    width:68.2%;
    top:10px;
  }

  .hero_image { min-height: 250px; }

  .topten-hero { min-height: 600px; }

  #map { height:600px; }

  .hero_image .search_bar input
  {
    font-size:1em;
    width:82.8%;
  }

  .topten-stores .topten-item
  {
   width:20%;
   height:300px;
  }

  .topten-stores .topten-item img { object-fit:contain; }

  /* content */
  .container.content
    {
      margin-top:0;
      border-radius:24px;
    }

    .container.content.topten-mobile { margin-top:0; }

    .container.content h2 { font-size:325%; }
    .container.content h3 { font-size:300%; }
    .container.content h4 { font-size:200%; }
    .container.content p { font-size:1em; }

    .container.newuser_form #first_name
    {
      width:96%;
    }

    /* used by index, stores, topten */
    .container.content ol li
    {
      margin:20px 0 24px 10%;
    }
    .container.content ol,
    .container.content ul.store_names
    {
      font-size:1.75em;
    }

    .container.content ul.store_names li
    {
      width:100%;
      padding:20px 5%;
    }

    .starActive,
    .star-inactive
    {
        background-size:60px 60px;
        height:60px;
        width:60px;
    }

    .store-image { display:block; }

    /* used by storepage */
    ul.pagination li a { font-size:1rem; }

    /* footer area */
    .page-footer h4 { font-size:225%; }
    .page-footer .footer-nav ul li { font-size:125%; }
}

/* ------------------------------------------- */
/* check res if within 601px and 992px */
@media only screen and (min-width: 601px) and (max-width: 992px)
{
  /* header - social media icons */
  .container.header ul.social { line-height: 32px; }

  .facebook-socialIcon { background-image: url("../icons/social/facebook-32.png"); }
  .twitter-socialIcon { background-image: url("../icons/social/twitter-32.png"); }
  .twitterFollow-socialIcon { background-image: url("../icons/social/twitter-follow-32.png"); }

  .facebook-socialIcon,
  .twitter-socialIcon,
   .twitterFollow-socialIcon
   {
    height:32px;
    width:32px;
    background-size:32px 32px;
   }

   nav.nav-wrapper.desktop-nav { margin-top:9.2%; }

    .searchicon-web,
    .storesicon-web,
    .topten-web,
    .addstore-web
    {
      height:48px;
      width:48px;
      background-size: 48px 48px;
    }

  .header .logo { width:90%; }

  nav .nav-wrapper.desktop-nav  { margin-top:10%; }

  nav ul li
  {
    font-size:1em;
    margin-right:12px;
  }

  /* top ten */
  .topten-stores_desktop { display:none; }
  .topten-stores_mobile { display:block; }

  .topten-stores .topten-item { width:50%; }

  /* cheater margin for hero_image exceeding x height */
    .container.content.topten-mobile { margin-top:915px; }

  .container.content h2 { font-size:275%; }
  .container.content h3 { font-size:250%; }
  .container.content h4 { font-size:200%; }

  .hero_image .search_bar .container { width:85%; }

   .hero_image .search_bar input
   {
    font-size:1.25em;
    width:68.2%;
  }

  .image-hero { display:block; }

  .image-hero,
  .image-hero img
  {
    width:100%;
    height:400px;
  }

  .searchicon-web-black
  {
      margin-top:8px 4px;
      background-size: 36px 36px;
      width: 36px;
      height: 36px;
  }

  .starActive
  {
    background-size:48px 48px;
    height:48px;
    width:48px;
  }

  .star-inactive
  {
    background-size:48px 48px;
    height:48px;
    width:48px;
  }

/*  ul.pagination { width:65.8%; }*/
  ul.pagination li a { font-size:1.1rem; }

  .page-footer h4 { font-size:200%; }
}

/* desktop beyond+ */
@media only screen and (min-width: 993px)
{
    .topten-stores_desktop { display:block; }
    .topten-stores_mobile { display:none; }

    .image-hero { display:block; }

    .hero_image .search_bar input { font-size:1.25em; }

    .image-hero,
    .image-hero img
    {
      width:100%;
      height:600px;
    }

    .container.newuser_form #first_name { width:96%; }
}
